.message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: monospace;
    width: 510px;
    height: 190px;
    background-color: white;
    box-shadow: 1px 1px 8px 1px rgb(204, 3, 3);
    margin-bottom: 30px;
}
.spin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 510px;
    margin-bottom: 20px;
}
.spin span {
    margin-right: 20px;
}
@media (width < 540px) {
    .message{
        width: 400px;
        font-size: 12px;
    }
}